/* Footer Styles */

footer {
  background: #0d0d0d;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 60px;
  background: #0d0d0d;
}

.footer-contact {
  flex: 1;
  min-width: 250px;
  color: #ccc;
  line-height: 2;
}

.footer-contact h3 {
  color: #00ffc3;
  margin-bottom: 10px;
}

.footer-contact a {
  color: #00ffc3;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.footer-map {
  flex: 1;
  min-width: 200px;
  height: 150px;
  margin-top: 15px;
}

.footer-map iframe {
  width: 100%;
  height: 110%;
  border: 0;
  border-radius: 10px;
}

.footer-bottom {
  background: #0d0d0d;
  text-align: center;
  color: #777;
  padding: 15px;
  border-top: 1px solid #222;
}

@media (max-width: 600px) {
  .footer-container {
    padding: 20px;
    flex-direction: column;
  }
  
  .footer-map {
    margin-top: 20px;
    height: 200px;
  }
}

