{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer id="contact">
  <div class="footer-container">
    <!-- Left: Contact Info -->
    <div class="footer-contact">
      <h3>Contact Us</h3>
      📍 <strong>Address:</strong> 494, Mishrilal Nagar Ext, Dewas (M.P)<br>
      ☎️ <strong>Phone:</strong> <a href="tel:+919691829003">+91 9691829003</a><br>
      ✉️ <strong>Email:</strong> <a href="mailto:2002manavbarodiya@gmail.com">2002manavbarodiya@gmail.com</a>
    </div>

    <!-- Right: Google Map -->
    <div class="footer-map">
      <iframe 
        src="https://www.google.com/maps?q=Mishrilal%20Nagar%20Ext%20Dewas%20MP&output=embed" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 Quick Basket Store | Built with ❤️ by Manav
  </div>
</footer>
{% load static %}
<script src="{% static 'js/cart.js' %}"></script>



</body>
</html>
