{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quick Basket</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="{% static 'js/base.js' %}"></script>
</head>
<body>
  <header>
    <a href="{% url 'index' %}" class="logo-link">
    <h1>🛒 Quick Basket</h1>
    </a>
    
    <nav>
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'cart' %}">Inventory</a>
      <a href="{% url 'offers' %}">Offers</a>
      <a href="{% url 'about' %}">About Us</a>
    </nav>
  </header>