{% load static %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

  <section class="hero">
    <h2>Welcome {% if name %}{{name}}{% else %}Guest{% endif %} to Quick Basket</h2>
    <p>Your one-stop shop for daily essentials, groceries, and more!</p>
  </section>

  <section class="categories">
    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/grocery.jpg' %}" alt="Groceries">
      <h3>Groceries</h3>
      <p>Fresh staples, pulses, rice, and daily cooking essentials delivered to your door.</p>
      </a>
    </div>

    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/hygiene.jpeg' %}" alt="Hygiene">
      <h3>Hygiene & Personal Care</h3>
      <p>Shampoos, soaps, toothpaste, and all you need to stay fresh and clean.</p>
      </a>
    </div>

    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/snacks.jpeg' %}" alt="Snacks">
      <h3>Snacks</h3>
      <p>Chips, biscuits, chocolates and tasty treats for every craving.</p>
      </a>
    </div>

    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/electronics.jpeg' %}" alt="Electronic Products">
      <h3>Electronic Products</h3>
      <p>Television, Fridge, AirFryer, Microwave for time saving.</p>
      </a>
    </div>

    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/drawing.jpeg' %}" alt="Drawing Items">
      <h3>Drawing & Painting</h3>
      <p>Brushes, colors, sketchbooks and art supplies for creative minds.</p>
      </a>
    </div>

    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/frozen.jpeg' %}" alt="Frozen Food">
      <h3>Frozen Food</h3>
      <p>Frozen Food without preservative and fresh for lazy people.</p>
      </a>
    </div>

    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/wellness.jpeg' %}" alt="Sexual Wellness Products">
      <h3>Sexual Wellness Products</h3>
      <p>Condoms, Oil, Lubes, Tablets make you night memorable.</p>
      </a>
    </div>

    <div class="card">
      <a href="{% url 'cart' %}" class="card-link">
      <img src="{% static 'image/medical.jpeg' %}" alt="Medical Products">
      <h3>Medical Products</h3>
      <p>Medicines, Injections, Tablets, Capsules on the go for emergencies.</p>
      </a>
    </div>
   </section>

{%include "footer.html"%}